SPRING_PROFILES_ACTIVE=local
DB_HOST=localhost
DB_PORT=3306
DB_NAME=live_borrow_sample
DB_USERNAME=ycf
DB_PASSWORD=ycf012!

DINGTALK_APP_ID=
DINGTALK_AGENT_ID=
DINGTALK_CLIENT_ID=
DINGTALK_CLIENT_SECRET=
DINGTALK_ROBOT_CODE=
DINGTALK_CORP_ID=
DINGTALK_CALLBACK_URL=
DINGTALK_CALLBACK_TOKEN=
DINGTALK_CALLBACK_AES_KEY=
DINGTALK_CALLBACK_OWNER_KEY=
